body { 
    margin: 0px;
    background-color: rgb(240, 240, 240);
}
		

canvas {
    width: 100%; 
    height: 100vh ;
    position: absolute;
}

/* objects buttons */

#btn-cube  {
    background-color: rgb(0, 0, 75);
    position: absolute;
    left: 70px;
    height: 50px;  
    width: 100px;
    cursor: pointer;
}

#rock-btn img {
    position: absolute;
    top: 75px;
    left: 70px;
    height: 50px;  
    width: 100px;
    cursor: pointer;
}


#robot-btn  {
    position: absolute;
    left: 70px;
    height: 50px;  
    width: 100px;
    cursor: pointer;
}

#robot2-btn {
    position: absolute;
    top: 55%;
    left: 70px;
    height: 50px;  
    width: 100px;
    cursor: pointer;
}

#gaz-btn  {
    position: absolute;
    left: 70px;
    height: 50px;  
    width: 100px;
    cursor: pointer;
}

#gaz2-btn {
    position: absolute;
    top: 38%;
    left: 70px;
    height: 50px;  
    width: 100px;
    cursor: pointer;
}

#gaz3-btn {
    position: absolute;
    top: 70%;
    left: 70px;
    height: 50px;  
    width: 100px;
    cursor: pointer;
}

#move-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    height: 50px;  
    width: 100px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    font-size: 20px;  
    font-family: cursive;
}
#view-btn {
    position: absolute;
    top: 90%;
    left: 40%;
    height: 50px;  
    width: 100px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    font-size: 20px;   
    font-family: cursive;
}
#remove-btn {
    position: absolute;
    top: 10px;
    left: 93%;
    height: 60px;  
    width: 100px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    font-size: 20px;   
    font-family: cursive;
}

#remove-rock-btn {
    position: absolute;
    top: 100px;
    left: 93%;
    height: 60px;  
    width: 100px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    font-size: 20px;   
    font-family: cursive;
}

#calculer {
    position: absolute;
    top: 200px;
    left: 93%;
    height: 60px;  
    width: 100px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    font-size: 20px;   
    font-family: cursive;
}

#open-btn {
    display: none;
    position: absolute;
    top: 12px;
    cursor: pointer;
    font-size: 30px;
}

 .close-btn {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    font-size: 36px;
    color: rgb(66, 64, 40);
}



/*menu*/

nav {
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

nav ul {
    position: relative;
    top: 50px;
    list-style-type: none;
}

nav ul li a {
    display: flex;
    align-items: center;
    font-family: cursive;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    color:black;
    padding: 10px 30px;
    height: 50px;
    transition: 0.5s ease;
    
}

nav ul li a:hover {
    cursor: pointer;
    color: #fff;
}


nav ul .dropdown:hover ul{
    display: initial;
}


nav ul .dropdown2:hover ul{
    display: initial;
}

nav ul .dropdown3:hover ul{
    display: initial;
}



nav ul .cubes {
    position: absolute;
    left: 250px;
    width: 200px;
    top : 0; 
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
}

nav ul .robots {
    position: absolute;
    left: 250px;
    width: 200px;
    top : 80; 
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
}

nav ul .gaz {
    position: absolute;
    left: 250px;
    width: 200px;
    top : 160; 
    display: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.1);
}


nav ul span {
    position: absolute;
    right: 20px;
    font-size: 20px;
}



